CONNECTION_STRING=http://localhost:8082/api
ASSET_URL=http://localhost:8082
MOVIES_KEY=<enter the key from Rapidapi for the unogsNG API>
TERMS=<http://localhost:3000/terms_and_conditions - this links to the React webapp>
FORGOT_PWD=<http://localhost:3000/reset - this links to the React webapp>